.Navbar{
    padding: 0px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.section__Navbar{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    
}
.logo__image{
    width: 50%;
}
.Navbar__container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 10px;
}
.Navbar__Allmenu{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 50px;
    padding-right: 10px;
}
.Nav_Home,.Nav_About_Us,.Nav_All_Pumps,.Nav_Pump_Selection_Tool,.Nav_Warranty_Registration{
    text-decoration: none;
}

.Navbar__contacts{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-self: end;
    background-image: url("../../images//Nav\ Banner.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
    padding-left: 20px;
    
    
}
.Navbar__menu{
    font-family: var(--main-font);
    font-size: var(--normal-font-size);
    text-decoration: none;
    color: var(--title-color);
}
.text__menu__red{
    font-family: var(--main-font);
    font-size: var(--normal-font-size);
    text-decoration: none;
    color: var(--title-red-color);
}
.Navbar__contactNumberdetails,.Navbar__contactMaildetails{
    font-family: var(--main-font);
    font-size: var(--tiny-font-size);
    text-decoration: none;
    color: var(--title-color);
    
}
.Navbar_callIcon,.Navbar_MailIcon{
    margin-right: 10px;
}